<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/createQuestions.css' %}">
</head>
<body>
<div class="form-container">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        {% if error_message %}
            <div class="error">{{ error_message }}</div>
        {% endif %}
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>
