<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/user_stats.css' %}">
    <title>User Stats</title>
</head>
<body>

{% include 'navbar.html' %}

<div class="stats-container">
    <div class="user-stats">
        <h3>{{ user.username }} Stats</h3>
        <p>Quiz Played: {{ stats.quizPlayed }}</p>
        <p>Correct Answers: {{ stats.correctAnswers }}</p>
        <p>Wrong Answers: {{ stats.wrongAnswers }}</p>
    </div>

    <div class="played-quizzes">
        <h3>{{ user.username }} Played Quizzes</h3>
        {% for q in quizStats %}
        <div class="quiz-stats">
            <div class="quiz-table-wrapper">
                <table class="quiz-table">
                    <thead>
                        <tr>
                            <th>Quiz</th>
                            <th>Correct Answers</th>
                            <th>Wrong Answers</th>
                            <th>Time</th>
                            <th>Time Played</th>
                            <th>Date Played</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ q.quiz }}</td>
                            <td>{{ q.correctAnswers }}</td>
                            <td>{{ q.wrongAnswers }}</td>
                            <td>{{ q.time }} s</td>
                            <td>{{ q.timePlayed }}</td>
                            <td>{{ q.datePlayed}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
