<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/user_quizzes.css' %}">
    <title>User Quizzes</title>
</head>
<body>

{% include 'navbar.html' %}

<div class="quizzes-container">
    <h3>{{ user.username }} Quizzes!</h3>

    <div class="quiz-list">
        {% for q in quizzes %}
        <div class="quiz-item">
            <a href="{% url 'play_quiz' q.id %}" class="quiz-name">Name: {{ q.quizName }}</a>
            <p>Number of Questions: {{ q.numberOfQuestions }}</p>
            <a href="{% url 'change_publicity' q.id %}" class="quiz-publicity">Change Publicity: {{ q.public }}</a>
            <a href="{% url 'delete_quiz' q.id %}" class="delete-quiz">DELETE QUIZ</a>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
